page-desc-attr {

  img {
      display: block;
      margin: 0 auto;

  }
span.assente {
  font-size: 200%;
  margin-top: 25%;
  display: block;
  border-radius: 5px 5px 5px;
  border: 1px solid red;

  text-align: center;
}
#salve{
  text-align: center;
}

}
