page-desc-sagra {


h1,h2,h3,h4{
//  color: rgb(240,230,140);
}
#content{
//  background: rgb(178, 34, 34)

}

#body{
//  color: rgb(240,230,140);

}
#sapevate{
  padding: 25px;
  background-color: white;
  color : rgb(178, 34, 34)
}

}
